---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
import Greeting from "../components/Greeting.jsx";
import Coutner from "../components/Counter";
import Video from "../components/Video.astro";
const count = 0;
---

<BaseLayout pageTitle={pageTitle}>
  <Coutner client:load transition:persist />
  <Video />
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
